* {
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    box-sizing: border-box;
}


.bg1 {
    z-index: -3;
    width: 100%;
    position: absolute;
    opacity: 0.5;


}

.a {
    position: relative;
    width: 28vw;
    height: 100vw;
    left: 0px;
    top: 0px;
    background: #fb897afb;
    z-index: -10;

}

.lo img {
    position: absolute;
    width: 3vw;
    right: 3vw;
    top: 3vw;
    z-index: 1000;
}

.ex {
    position: absolute;
    left: 40vw;    
    top: 30vh;
    font-size: 4.5rem;   
    overflow: visible;
    color: #000000;
    
}

.exdee {
    position: absolute;
    left: 40vw;
    top: 45vh;   
    font-size: 2rem;
    color: #000000;
}


.btn1 {
    position: absolute;
    width: 15vw;
    height: 60px;
    left: 40vw;
    bottom: 13vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;

    color: #fff;
    background-color: #000;
    border: none;
    background-image: url(./science\ 7.png);
    background-size: cover;

    
}

.btn2 {
    position: absolute;
    width: 15vw;
    height: 60px;
    left: 58vw;
    bottom: 13vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;

    
    background-color: #2EC4B6;
    
    color: #000000;
    border: none;
    background-image: url(./science\ 7.png);
    background-size: cover;

}
.btn3{
    position: absolute;
    width: 15vw;
    height: 60px;
    left: 76vw;
    bottom: 13vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    
    background-color: #FF9F1C;
    color: #000000;
    border: none;
    background-image: url(./science\ 7.png);
    background-size: cover;

}

.b a{
    display: block;
}

.b button:hover{
    cursor: pointer;
}

.b .btn1:hover{
    position: absolute;
    width: 15vw;
    height: 60px;
    left: 40vw;
    bottom: 13vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;

    color: #fff;
    background-color: rgb(94, 94, 94);
    border: none;
    background-image: url(./science\ 7.png);
    background-size: cover;
}

.b .btn2:hover{
    position: absolute;
    width: 15vw;
    height: 60px;
    left: 58vw;
    bottom: 13vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    background-color: #007468;
    border: none;
    background-image: url(./science\ 7.png);
    background-size: cover;   
}

.b .btn3:hover{
    position: absolute;
    width: 15vw;
    height: 60px;
    left: 76vw;
    bottom: 13vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #ac6400;
    font-weight: 700;
    border: none;
    background-image: url(./science\ 7.png);
    background-size: cover;

}

  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }