<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Map</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link rel="shortcut icon" type="image/jpg" href="../solar system/images/earth.png"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
      <section :style="{ 'background-image': 'url(' + selectedFlagSrc + ')' }">
        <div class="left-div">
          <div class="display">
            <div class="country-name">
              <img :src="selectedFlagSrc">
              {{ selectedName }}
            </div>
            <div class="country-info">
              <div><strong>Code: </strong>{{ selectedCode }}</div>
              <div><strong>Capital: </strong>{{ selectedCapital }}</div>
              <div><strong>Region: </strong>{{ selectedSubregion }}</div>
              <div><strong>Language: </strong>{{ selectedLanguage }}</div>
              <div><strong>Currency: </strong>{{ selectedCurrency }}</div>
            </div>
          </div>
        </div>
    </section>
    <nav>
      <div class="country-search">
        <input type="text" placeholder="Search country" autocomplete="off" v-model="search">
      </div>
      <div class="country-list">
        <div class="country" v-for="country in countries" @click="selectCountry(country)">
          <img :src="getFlagSrc(country)">
          {{ getName(country) }}
        </div>
      </div>
    </nav>
    </main>
    <a href="../index.html" class="back"><i class="fa fa-arrow-left" style="font-size:18px"></i></a>
    <script src="index.vue"></script>
  </body>
</html>
