@import url('https://fonts.googleapis.com/css?family=Nunito');
 * {
	 font-size: inherit;
	 font-family: inherit;
	 color: inherit;
}
 *:focus {
	 outline: none;
}
 html, body {
	 height: 100%;
}
 body {
	 font-family: 'Nunito', sans-serif;
	 font-size: calc(.4em + .6vw);
	 margin: 0;
	 background: white;
	 display: flex;
	 flex-direction: column;
}
main{
	 flex: 1 1 auto;
	 display: flex;
	 flex-direction: row;
	 overflow: hidden;
	 background: #323232;
}
.left-div {
	 flex: 1 1 auto;
	 display: flex;
	 justify-content: center;
	 align-items: start;
	 overflow-y: auto;
	 z-index: 1;
}
.display {
	 margin: 20px 10px;
	 margin-bottom: 0;
	 border-radius: 10px;
	 background: rgba(14, 14, 14, 0.726);
	 color: white;
	 box-shadow: 0px 5px 25px 0px rgba(71, 71, 71, 0.75);
	 margin-top: 25vh;
	 padding: 1vh 1vw;
}
.country-name {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 padding: 20px;
	 font-weight: bold;
}
.country-name img {
	 width: 70px;
	 height: auto;
	 margin-right: 20px;
	 border-radius: 5px;
	 box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .25);
}
.country-info {
	 display: flex;
	 flex-direction: column;
	 padding: 0 20px;
}
.country-info div {
	 margin-bottom: 20px;
}
nav {
	flex: 0 0 auto;
	width: 450px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background: black;
	color: white;
	box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .75);
	z-index: 1;
}
.country-search {
	flex: 0 0 auto;
	display: flex;
	padding: 20px;
}
.country-search input {
	width: 100%;
	padding: 10px 20px;
	border: 2px solid #646464;
	border-radius: 100px;
	transition: border-color 0.2s ease-out;
	color: black;
}
.country-search input:focus {
	border-color: #d6d6d6;
}
.country-list {
	flex: 1 1 auto;
	overflow-y: auto;
}
.country {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 2vh;
	padding-left: 3vw;
}
.country:hover {
	background-color: rgba(255, 255, 255, 0.15);
}
.country img {
	width: 70px;
	height: auto;
	margin-right: 3vw;
	border-radius: 5px;
	box-shadow: 0px 0px 15px 3px rgba(163, 163, 163, 0.25);
}
section {
	flex: 1 1 auto;
	display: flex;
	background: no-repeat center;
	background-size: cover;
}
section:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	content: "";
	background-color: rgba(0, 0, 0, .5);
}
 @media screen and (max-width: 1000px) {
	 nav {
		 width: 270px !important;
	}
	 nav img {
		 width: 46.6666666667px !important;
	}
	 section img {
		 width: 46.6666666667px !important;
	}
}
 @media screen and (max-width: 700px) {
	 nav {
		 width: 180px !important;
	}
	 nav img {
		 display: none;
	}
}
 